@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main{
    width: 640px;
    height: 960px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -320px;
    transform-origin: top;
    -webkit-transform-origin: top;
    overflow: hidden;
}
.main>ul>li{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.main li.zIndex{
    z-index: 3;
}
.main>ul>li:nth-child(1){
    background:url("images/1.jpg") no-repeat;
    background-size: 100% 100%;
}
.main>ul>li:nth-child(2){
    background:url("images/2.jpg") no-repeat;
    background-size: 100% 100%;
}
.main>ul>li:nth-child(3){
    background:url("images/3.jpg") no-repeat;
    background-size: 100% 100%;
}
.main>ul>li:nth-child(4){
    background:url("images/4.jpg") no-repeat;
    background-size: 100% 100%;
}
.main>ul>li:nth-child(5){
    background:url("images/5.jpg") no-repeat;
    background-size: 100% 100%;
}
.liChild1{
    background-image: url("images/first_01.png");
    background-size: 100% 100%;
    width: 640px;
    height: 960px;
}
.liChild1 div img{
    width: 150px;
    height: 200px;
    position: absolute;
    left: 65px;
    top: 50px;
    animation: 1s myRun 1;
}
@keyframes myRun {
    0%{transform: translate(-300px,100px);opacity: 0.3}
    20%{transform: translate(0px,35px);opacity: 1}
    40%{transform: translate(10px,30px);opacity: 0.5}
    60%{transform: translate(15px,25px);opacity: 1}
    80%{transform: translate(20px,20px);opacity: 0.3}
    100%{transform:  translate(25px,10px);opacity: 1}
}
.liChild1 .liChild1_center{
    position: absolute;
    top: 240px;
    left: 105px;
}
.liChild1 .liChild1_center li{
    line-height: 70px;
    font-style: italic;
    font-weight: bold;
    color: gold;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    animation: 2s mySpan 1;
}
.liChild1_center li span{
    margin: 106px;
}
@keyframes mySpan {
    0%{transform: translate(800px,0)}
    100%{transform: translate(0,0)}
}
.liChild1_bottom img{
    width: 400px;
    height: 210px;
    position: absolute;
    bottom: 5px;
    left: 220px;
    animation:2s myImg 2;
}
@keyframes myImg {
    0%{opacity: 0.5;transform: scale(1)}
    40%{opacity: 1;transform: scale(1.5)}
    100%{transform: scale(1)}
}


.liChild2{
    width: 100%;
    height: 100%;
    position: absolute;
}
.liChild2 .liChild2_top{
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 80px;
    color: #0092d2;
}
.liChild2 .infomation{
    position: absolute;
    left: 50px;
    top: 210px;
    font-size: 35px;
    color: #f5a623;
}
.liChild2 .infomation li{
    line-height: 50px;
}
.liChild2 .infomation li:nth-child(1){
    animation-delay: 0.5s;
}
.liChild2 .infomation li:nth-child(2){
    animation-delay: 1s;
}
.liChild2 .infomation li:nth-child(3){
    animation-delay: 1.5s;
}
.liChild2 .infomation li:nth-child(4){
    animation-delay: 2s;
}
.liChild2 .infomation li:nth-child(5){
    animation-delay: 2.5s;
}
.liChild2 .infomation li:nth-child(6){
    animation-delay: 3s;
}

.liChild3,.liChild4,.liChild5{
    width: 90%;
    height: 75%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.liChild3 p,.liChild4 p,.liChild5 p{
    font-size: 60px;
    color: #c00000;
    margin-bottom: 20px;
    animation: 1s myTit3 3;
}
@keyframes myTit3 {
    0%{transform: scale(1);-webkit-transform: scale(1);}
    50%{transform: scale(2);-webkit-transform: scale(2);}
    100%{transform: scale(1);-webkit-transform: scale(1);}
}
@-webkit-keyframes myTit3 {
    0%{transform: scale(1);-webkit-transform: scale(1);}
    50%{transform: scale(2);-webkit-transform: scale(2);}
    100%{transform: scale(1);-webkit-transform: scale(1);}
}
.liChild3 ul,.liChild4 ul{
    height: 500px;
    width: 80%;
    margin: 0 auto;
}
.liChild3 ul li{
    width: 180px;
    height: 180px;
    margin: 10px;
}
.liChild3 ul li img{
    width: 180px;
    height: 180px;
}
.liChild3 ul li:nth-child(even){
    float: left;
}
.liChild3 ul li:nth-child(odd){
    float: right;
}
.liChild3 ul li:nth-child(1){
    float: left;
    animation: 1s myLiSkew1 1 1s;
}
.liChild3 ul li:nth-child(2){
    float: right;
    animation: 1s myLiSkew2 1 1.5s;
}
.liChild3 ul li:nth-child(3){
    float: left;
    animation: 1s myLiSkew1 1 2s;
}
.liChild3 ul li:nth-child(4){
    float: right;
    animation: 1s myLiSkew2 1 2.5s;
}
.liChild3 ul li:nth-child(5){
    float: left;
    animation: 1s myLiSkew1 1 3s;
}
.liChild3 ul li:nth-child(6){
    float: right;
    animation: 1s myLiSkew2 1 3.5s;
}
@keyframes myLiSkew1 {
    0%{transform:translate(-400px);-webkit-transform:translate(-400px);opacity: 0}
    20%{transform:translate(0px) skew(15deg);-webkit-transform:translate(0px) skew(15deg);opacity: 0.3}
    60%{transform:translate(400px) skew(50deg);-webkit-transform:translate(0px) skew(50deg);opacity: 0.7}
    100%{transform:translate(0px) skew(0deg);-webkit-transform:translate(0px) skew(0deg);opacity: 1}
}
@-webkit-keyframes myLiSkew1 {
    0%{transform:translate(-400px);-webkit-transform:translate(-400px);opacity: 0}
    20%{transform:translate(0px) skew(15deg);-webkit-transform:translate(0px) skew(15deg);opacity: 0.3}
    60%{transform:translate(400px) skew(50deg);-webkit-transform:translate(0px) skew(50deg);opacity: 0.7}
    100%{transform:translate(0px) skew(0deg);-webkit-transform:translate(0px) skew(0deg);opacity: 1}
}
@keyframes myLiSkew2 {
    0%{transform:translate(400px);opacity: 0}
    20%{transform:translate(0px) skew(15deg);-webkit-transform:translate(0px) skew(15deg);opacity: 0.3}
    60%{transform:translate(-400px) skew(30deg);-webkit-transform:translate(0px) skew(30deg);opacity: 0.7}
    100%{transform:translate(0px) skew(0deg);-webkit-transform:translate(0px) skew(0deg);opacity: 1}
}
@-webkit-keyframes myLiSkew2 {
    0%{transform:translate(400px);opacity: 0}
    20%{transform:translate(0px) skew(15deg);-webkit-transform:translate(0px) skew(15deg);opacity: 0.3}
    60%{transform:translate(-400px) skew(30deg);-webkit-transform:translate(0px) skew(30deg);opacity: 0.7}
    100%{transform:translate(0px) skew(0deg);-webkit-transform:translate(0px) skew(0deg);opacity: 1}
}
.liChild4 ul{
    margin-top: 100px;
}
.liChild4 ul li{
    background: url("images/qian.png") no-repeat 0 0;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 60px;
}
.liChild4 ul li:nth-child(1){
     position: absolute;
     top: 240px;
     left: 225px;
    animation: 1s myRun1 4 1s;
 }
.liChild4 ul li:nth-child(2){
    position: absolute;
    top: 430px;
    left: 20px;
    animation: 1s myRun1 3 2s;
}
.liChild4 ul li:nth-child(3){
    position: absolute;
    top: 430px;
    right: 20px;
    animation: 1s myRun1 2 3s;
}
.liChild4 ul li:nth-child(4){
    position: absolute;
    bottom: 100px;
    left: 225px;
    animation: 1s myRun1 1 4s;
}
@keyframes myRun1 {
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);opacity: 0}
    100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);opacity: 1}
}
@-webkit-keyframes myRun {
    0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);opacity: 0}
    100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);opacity: 1}
}

.liChild5 span{
    font-size: 35px;
    color: #f5a623;
    line-height: 50px;
}
.liChild5 ul li{
    font-size: 30px;
    color: #202050;
    margin: 10px 0;
    padding-left: 100px;
}
.liChild5 ul li img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    display: inline-block;
}
.liChild5 ul li:nth-child(2) img{
    animation: 1s mySwing infinite;
}
@-webkit-keyframes mySwing {
    0%{-webkit-transform: skew(0deg);transform: skew(0deg);}
    50%{-webkit-transform: skew(0deg);transform: skew(30deg);}
    100%{-webkit-transform: skew(0deg);transform: skew(0deg);}
}
@keyframes mySwing {
    0%{-webkit-transform: skew(0deg);transform: skew(0deg);}
    50%{-webkit-transform: skew(0deg);transform: skew(30deg);}
    100%{-webkit-transform: skew(0deg);transform: skew(0deg);}
}